<% include header %>

<div class="container">
    
    <h1 class="display-4">2015 Prius Two</h1>
    <p class="lead">Low mileage, high MPG. Try the hybrid life today</p>
</div>
<div class="jumbotron jumbotron-fluid container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    
                  <div class="carousel-item active">
                    <img class="d-block  priusSlide" src="https://bidfax.info/uploads/posts/2019-01/18/toyota-prius-2015-jtdkn3du2f1939615-img1.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block  priusSlide" src="https://bidfax.info/uploads/posts/2019-01/18/toyota-prius-2015-jtdkn3du2f1939615-img1.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block  priusSlide" src="https://bidfax.info/uploads/posts/2019-01/18/toyota-prius-2015-jtdkn3du2f1939615-img1.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block  priusSlide" src="https://bidfax.info/uploads/posts/2019-01/18/toyota-prius-2015-jtdkn3du2f1939615-img1.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block  priusSlide" src="https://bidfax.info/uploads/posts/2019-01/18/toyota-prius-2015-jtdkn3du2f1939615-img1.jpg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            
            
            <div class="container ">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope = 'col'>Feature</th>
                        <th scope = 'col'>Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Make</td>
                        <td>Toyota</td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td>Prius Two</td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td>2015</td>
                    </tr>
                    <tr>
                        <td>Style</td>
                        <td>4dr Hatchback</td>
                    </tr>
                    <tr>
                        <td>Engine</td>
                        <td>1.8L 4cyl gas/electric hybrid</td>
                    </tr>
                    <tr>
                        <td>Mileage</td>
                        <td>29992</td>
                    </tr>
                    <tr>
                        <td>Owners</td>
                        <td>Single Owner</td>
                    </tr>
                    <tr>
                        <td>Ext Color</td>
                        <td>Silver</td>
                    </tr>
                    <tr>
                        <td>Interior</td>
                        <td>Grey Cloth</td>
                    </tr>
                    <tr>
                        <td>Media</td>
                        <td>CD Player, Bluetooth Audio, AM/FM w/ Presets, USB Audio Input(w/charging)</td>
                    </tr>
                    <tr>
                        <td>List Price</td>
                        <td>$19,000</td>
                    </tr>
                    <tr>
                        <td>Drive</td>
                        <td>Front Wheel Drive</td>
                    </tr>
                    <tr>
                        <td>Transmission</td>
                        <td>Automatic / Continuously Variable Transmission</td>
                    </tr>
                    <tr>
                        <td>VIN</td>
                        <td>JTDKN3DUXF0415067</td>
                    </tr>
                    <tr>
                        <td>Features</td>
                        <td>Bluetooth, Backup Camera, Keyless Entry, Keyless Ignition, Steering Wheel Controls, Power Mirrors, Power Windows, Fog Lights, Power Locks, Tonneau Cover</td>
                    </tr>
                    <tr>
                        <td>Gas Mileage</td>
                        <td>51 MPG City :: 48 MPG Highway</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>North Austin (78729)</td>
                    </tr>
                    <tr>
                        <td>Other Information</td>
                        <td>All scheduled maintenance done at Toyota dealerships, meticulously cared for</td>
                    </tr>
                    <tr>
                        <td>Payments</td>
                        <td>Cash, Cashier's Check, Money Order only. If you are financing, we can meet at your bank to complete the transaction with your lender. No lending terms will be provided by seller.</td>
                    </tr>
                        <tr>
                        <td>Selling</td>
                        <td>Sold As-Is, no warranty</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col"><hr></div>
            </div>
            <div class="row">
                <div class="col"><hr></div>
            </div>


            <h2>Let's get in touch</h2>
            <p>Fill out the form below with your preferred contact method and I'll be in touch!</p>
            <form action="/contact" method='POST'>
                <div class="form-group col-sm-10">
                    <label for="email">Email</label>
                  <input type="email" class="form-control" name="contact[email]" id="emailInput" placeholder="Your Email">
                </div>
                <div class="form-group col-sm-10">
                    <label for="phone">Phone</label>
                  <input type="phone" class="form-control" name="contact[phone]" id="phoneInput" placeholder="5555555555">
                </div>
                
                <div class="form-group col-sm-10">
                  <label for="contactmethod">Preferred Contact Method</label>
                  <select class="form-control" name = "contact[contactType]" id="contactmethod">
                    <option>Choose One</option>
                    <option>Phone Call</option>
                    <option>Text</option>
                    <option>Email</option>
                  </select>
                </div>
                
                <div class="form-group col-sm-10">
                  <label for="message">Message Area</label>
                  <textarea class="form-control" id="message" name="contact[message]" rows="7" placeholder = "How soon are you looking to buy, when are you looking for a test drive, etc?"></textarea>
                </div>
                
                <div class="form-check mb-2">
                  <input class="form-check-input" name="contact[license]" type="checkbox" id="license">
                  <label class="form-check-label" for="driverslicense">  
                    I confirm have a valid, unexpired driver's license
                  </label>
                </div>
                <div class="form-group col-sm-10">
                    <label for="phone">What is 5+3?</label>
                  <input type="number" class="form-control" name="contact[validate]" id="validate" placeholder="">
                </div>
                <div class="col-sm-10">
                  <button type="submit" class="btn-lg btn-primary">Send</button>
                </div>
              </form>
              

            </div>
<br>
<% include footer %>
