<% include header %>
<form action="/contact/admin" method ="POST">
    <div class="form-group col-sm-2">
            <label for="logincheck">Login</label>
          <input type="text" class="form-control" name="validate" id="validate" placeholder="">
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn-lg btn-primary">Send</button>
        </div></form>

        <% include footer %>
